<div class="row-fluid">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav pull-right navbar-nav">
          <li ng-show="loggedIn">
            <a class="brand" ng-click="logout()" href="">log out {{$storage.username}}</a>
          </li>
          <li ng-hide="loggedIn">
            <a class="brand" ng-click="login()" href="">log in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
