<div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <a class="error">{{message}}</a>
  </div>
  <div class="modal-body">
    <img ng-src="{{pic.medium}}"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Ok</button>
  </div>
</div>
