<div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Login</h3>
    <a class="error">{{message}}</a>
  </div>
  <div class="modal-body">
    <input type="file" ng-file-select="onFileSelect($files)">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Done</button>
  </div>
</div>
